.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@font-face {
    font-family: "Gamingfont";
    src: url('gamingfont.otf') format('opentype');
}

 body {
            margin: 0;
            padding: 0;
            background-image: url('bg.webp');
            background-size: cover;
            background-position: center;
        }



.tit {
    font-family: 'Gamingfont', sans-serif;
    font-size: 70px;
    text-align: center;
}
a{
    margin-right = 30px
}

.a {
    height:800px;
    width: 400px;
    background-color: rgb(235, 255, 210);
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%;
    margin: 0 30px; /* Adjust margin */
    text-align: center;
    font-size: 40px;
    box-sizing: borderbox;
    font-family: 'Gamingfont', sans-serif;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.q {
    border-radius: 10%;
}

.text {
   
    padding: auto;
}
